/* ROOT */

:root {
  --primary-color: hsl(207.6deg 51.02% 80.78%);
  --accent-color: hsl(218.93deg 100% 52.55%);
}

/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #1f1f1f;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style-position: inside;
}

p {
  font-size: 0.8rem;
}

h2 {
  font-size: 2rem;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1080px;
  max-width: 100%;
}

.btn {
  cursor: pointer;

  background-color: var(--accent-color);
  color: white;
  border: 1px solid var(--accent-color);

  padding: 5px 10px;
}

/* PAGE HEADER */

.page-header {
  background-color: var(--primary-color);
  padding-top: 70px;
  margin-bottom: 100px;
}

.page-header > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10px;

  background-color: white;
}

.page-header .nav-left {
  display: flex;
  align-items: center;
}

.page-header .btn {
  margin: 0 20px;
}

.page-header .link-list {
  list-style-type: none;
  display: inline-block;
}

.page-header .link-item {
  display: inline-block;

  font-size: 0.8rem;
  color: #686868;

  margin-left: 20px;
}

.page-header h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

/* HERO */

.hero-section {
  position: relative;
  height: 550px;
}

.hero-section .container {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
}

.hero-lower {
  display: flex;
}

.hero .img-container {
  flex-basis: 50%;
  flex-grow: 1;
}

.hero-column {
  flex-basis: 30%;
}

.hero-column .btn {
  margin: 20px 0;
}

.hero .arrow {
  font-size: 3rem;
  margin-top: 50px;
}

/* MAIN */

main hr {
  width: 20%;
  margin: 30px 0;
}

main .container {
  width: 800px;
}

/* PLAN SELECTION SECTION */

.plan-selection {
  padding: 30px 0;
}

.plan-selection-header {
  padding: 50px 0;
}

.plan-selection label {
  margin-right: 20px;
}

.plan-selection .sub-choice {
  font-size: 0.8rem;
  margin-top: 30px;
}

/* CARD */

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card .price {
  font-weight: bold;
}

.card h5 {
  font-size: 0.8rem;
}

.card h6 {
  font-weight: lighter;
  margin-top: 10px;
}

.plan-selection-main {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.plan-selection .footer-card-main {
  display: flex;
}

.plan-selection .card {
  flex-basis: 30%;
  flex-grow: 1;
  border: 1px solid grey;

  font-size: 0.7rem;
}

.plan-selection .card-header {
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 10px;
}

.plan-selection .card-main-section {
  padding: 30px 20px;
}

.card ul {
  margin: 20px 0;
}

.card li {
  margin: 10px 0;
}

.plan-selection .footer-card {
  margin-top: 35px;
}

/* PARTNER SECTION */

.partner {
  display: flex;
  padding: 30px 0;
}

.partner p {
  margin: 20px 0;
}

.partner-img-container {
  flex-basis: 60%;
}

.partner-text-container {
  flex-basis: 30%;
  flex-grow: 1;

  padding: 30px;
}

/* DROPBOX BUSINESS */

.dropbox-business {
  padding: 30px 0 150px 0;
}

.dropbox-business .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 2rem;
}

.dropbox-business .card {
  flex-basis: 30%;
  flex-grow: 1;
}

.dropbox-business h2 {
  margin-bottom: 70px;
}

.dropbox-business h3 {
  margin-bottom: 20px;
}

.dropbox-business .bottom-text {
  margin: 150px 0 50px 0;
}

/* COMPANIES */

main .companies {
  display: flex;
}

.companies .big-sq {
  display: flex;
  flex-wrap: wrap;

  width: calc(100% / 3);
  aspect-ratio: 1;
}

.companies .sml-sq {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  aspect-ratio: 1;
  padding: 50px;
}

.companies .first {
  background-color: hsl(111.43deg 38.89% 71.76%);
}
.companies .second {
  background-color: hsl(336.4deg 84.76% 20.59%);
}
.companies .third {
  background-color: hsl(198.63deg 85.59% 43.53%);
}
.companies .fourth {
  background-color: hsl(0deg 98.25% 55.1%);
}
.companies .fifth {
  background-color: hsl(351.31deg 100% 41.96%);
}
.companies .sixth {
  background-color: hsl(207.6deg 51.02% 80.78%);
}
.companies .seventh {
  background-color: hsl(228.1deg 81.69% 27.84%);
}
.companies .eighth {
  background-color: hsl(48.93deg 99.04% 59.22%);
}

.companies svg * {
  fill: white;
}

.companies .middle-sq {
  display: block;
  padding: 30px;

  background-color: hsl(0deg 0% 96.08%);
}

.companies .middle-sq img {
  width: 50%;
}

main .band {
  background-color: var(--primary-color);
}

.freetrial {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6rem 0;
}

.freetrial > h2 {
  flex-basis: 50%;
}

/* FAQ */

.faq {
  padding: 100px 0;
}

.faq .question-container {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  padding: 30px 0;
}

.faq .question-container:first-of-type {
  border-top: 1px solid black;
  margin-top: 30px;
}

.faq .question-container:last-of-type {
  border-bottom: 1px solid black;
}

/* FOOTER */

.page-footer {
  color: white;
  background-color: black;
}
.page-footer .footer-upper {
  display: flex;
  justify-content: space-between;

  padding: 80px 0;
}

.page-footer .link-list {
  line-height: 2rem;
  list-style-type: none;

  margin-top: 20px;
}

.footer-lower .language-selection {
  padding: 50px 0;
}
