/* ROOT */

:root {
  --primary-color: hsl(207.6deg 51.02% 80.78%);
  --accent-color: hsl(218.93deg 100% 52.55%);
}

/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #1f1f1f;
}

img {
  max-width: 100%;
  display: block;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.btn {
  background-color: var(--accent-color);
  color: white;
  border: 1px solid var(--accent-color);

  padding: 5px 10px;
}

/* PAGE HEADER */

.page-header {
  background-color: var(--primary-color);
}

.page-header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10px;

  background-color: white;
}

.page-header .nav-left {
  display: flex;
  align-items: center;
}

.page-header .link-list {
  list-style-type: none;
  display: inline-block;
}

.page-header .link-item {
  display: inline-block;

  font-size: 0.8rem;
  color: #686868;

  margin: 0 20px;
}

/* HERO */

.hero-lower {
  display: flex;
}

.hero .img-container {
  flex-basis: 50%;
  flex-grow: 1;
}

.hero-column {
  flex-basis: 40%;
}
